services:
  postgres-database:
    image: postgres:16.3
    container_name: postgres-database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - main-network

  server:
    image: 6daniel32/dotnet-sdk-server
    container_name: server
    build:
      context: ./${PROJECT_NAME}
      args:
        CONFIGURATION: ${CONFIGURATION}
        PROJECT_NAME: ${PROJECT_NAME}
    environment:
      - PROJECT_NAME=${PROJECT_NAME}
    ports:
      - "5000:8080"
    networks:
      - main-network

  sdk:
    image: 6daniel32/dotnet-sdk
    container_name: sdk
    volumes:
      - .:/app

volumes:
  postgres-data:
  latest-build:

networks:
  main-network:
    driver: bridge