services:
  postgres-database:
    image: postgres:16.3
    container_name: postgres-database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - main-network
  # TODO: use .env file for all variables
  server:
    image: 6daniel32/dotnet-sdk-server
    container_name: server
    build:
      context: .
      args:
        CONFIGURATION: Release
        EXECUTABLE_NAME: Binary
    environment:
      - EXECUTABLE_NAME=Binary
    ports:
      - "5000:8080"
    networks:
      - main-network

  sdk:
    image: 6daniel32/dotnet-sdk
    container_name: sdk
    volumes:
      - .:/app

volumes:
  postgres-data:
  latest-build:

networks:
  main-network:
    driver: bridge