services:
  postgres-database:
    image: postgres:16.3
    container_name: postgres-database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - main-network

  server:
    container_name: server
    build:
      context: .
      dockerfile: ./local-infra/dotnet/containers/Dockerfile.server
      # When working with docker compose, args are only
      # avaiable in the build context and not in the runtime.
      args:
        CONFIGURATION: ${CONFIGURATION}
        PROJECT_NAME: ${PROJECT_NAME}
    # Contrary to args, environment variables are available
    # in the runtime and not in the build context, that's why 
    # we need both.
    environment:
      - PROJECT_NAME=${PROJECT_NAME}
    ports:
      - "5000:8080"
    networks:
      - main-network

  sdk:
    container_name: sdk
    build:
      context: .
      dockerfile: ./local-infra/dotnet/containers/Dockerfile.sdk
    volumes:
      - .:/app

volumes:
  postgres-data:
  latest-build:

networks:
  main-network:
    driver: bridge